
daic_woz_text_raw/492_TRANSCRIPT.csv
daic_woz_text_raw/491_TRANSCRIPT.csv
daic_woz_text_raw/490_TRANSCRIPT.csv
daic_woz_text_raw/489_TRANSCRIPT.csv
daic_woz_text_raw/488_TRANSCRIPT.csv
daic_woz_text_raw/487_TRANSCRIPT.csv
daic_woz_text_raw/486_TRANSCRIPT.csv
daic_woz_text_raw/485_TRANSCRIPT.csv
daic_woz_text_raw/484_TRANSCRIPT.csv
daic_woz_text_raw/483_TRANSCRIPT.csv
daic_woz_text_raw/482_TRANSCRIPT.csv
daic_woz_text_raw/481_TRANSCRIPT.csv
daic_woz_text_raw/480_TRANSCRIPT.csv
daic_woz_text_raw/479_TRANSCRIPT.csv
daic_woz_text_raw/478_TRANSCRIPT.csv
daic_woz_text_raw/477_TRANSCRIPT.csv
daic_woz_text_raw/476_TRANSCRIPT.csv
daic_woz_text_raw/475_TRANSCRIPT.csv
daic_woz_text_raw/474_TRANSCRIPT.csv
daic_woz_text_raw/473_TRANSCRIPT.csv
daic_woz_text_raw/472_TRANSCRIPT.csv
daic_woz_text_raw/471_TRANSCRIPT.csv
daic_woz_text_raw/470_TRANSCRIPT.csv
daic_woz_text_raw/469_TRANSCRIPT.csv
daic_woz_text_raw/468_TRANSCRIPT.csv
daic_woz_text_raw/467_TRANSCRIPT.csv
daic_woz_text_raw/466_TRANSCRIPT.csv
daic_woz_text_raw/465_TRANSCRIPT.csv
daic_woz_text_raw/464_TRANSCRIPT.csv
daic_woz_text_raw/463_TRANSCRIPT.csv
daic_woz_text_raw/462_TRANSCRIPT.csv
daic_woz_text_raw/461_TRANSCRIPT.csv
daic_woz_text_raw/459_TRANSCRIPT.csv
daic_woz_text_raw/458_TRANSCRIPT.csv
daic_woz_text_raw/457_TRANSCRIPT.csv
daic_woz_text_raw/456_TRANSCRIPT.csv
daic_woz_text_raw/455_TRANSCRIPT.csv
daic_woz_text_raw/454_TRANSCRIPT.csv
daic_woz_text_raw/453_TRANSCRIPT.csv
daic_woz_text_raw/452_TRANSCRIPT.csv
daic_woz_text_raw/451_TRANSCRIPT.csv
daic_woz_text_raw/450_TRANSCRIPT.csv
daic_woz_text_raw/449_TRANSCRIPT.csv
daic_woz_text_raw/448_TRANSCRIPT.csv
daic_woz_text_raw/447_TRANSCRIPT.csv
daic_woz_text_raw/446_TRANSCRIPT.csv
daic_woz_text_raw/445_TRANSCRIPT.csv
daic_woz_text_raw/444_TRANSCRIPT.csv
daic_woz_text_raw/443_TRANSCRIPT.csv
daic_woz_text_raw/442_TRANSCRIPT.csv
daic_woz_text_raw/441_TRANSCRIPT.csv
daic_woz_text_raw/440_TRANSCRIPT.csv
daic_woz_text_raw/439_TRANSCRIPT.csv
daic_woz_text_raw/438_TRANSCRIPT.csv
daic_woz_text_raw/437_TRANSCRIPT.csv
daic_woz_text_raw/436_TRANSCRIPT.csv
daic_woz_text_raw/435_TRANSCRIPT.csv
daic_woz_text_raw/434_TRANSCRIPT.csv
daic_woz_text_raw/433_TRANSCRIPT.csv
daic_woz_text_raw/432_TRANSCRIPT.csv
daic_woz_text_raw/431_TRANSCRIPT.csv
daic_woz_text_raw/430_TRANSCRIPT.csv
daic_woz_text_raw/429_TRANSCRIPT.csv
daic_woz_text_raw/428_TRANSCRIPT.csv
daic_woz_text_raw/427_TRANSCRIPT.csv
daic_woz_text_raw/426_TRANSCRIPT.csv
daic_woz_text_raw/425_TRANSCRIPT.csv
daic_woz_text_raw/424_TRANSCRIPT.csv
daic_woz_text_raw/423_TRANSCRIPT.csv
daic_woz_text_raw/422_TRANSCRIPT.csv
daic_woz_text_raw/421_TRANSCRIPT.csv
daic_woz_text_raw/420_TRANSCRIPT.csv
daic_woz_text_raw/419_TRANSCRIPT.csv
daic_woz_text_raw/418_TRANSCRIPT.csv
daic_woz_text_raw/417_TRANSCRIPT.csv
daic_woz_text_raw/416_TRANSCRIPT.csv
daic_woz_text_raw/415_TRANSCRIPT.csv
daic_woz_text_raw/414_TRANSCRIPT.csv
daic_woz_text_raw/413_TRANSCRIPT.csv
daic_woz_text_raw/412_TRANSCRIPT.csv
daic_woz_text_raw/411_TRANSCRIPT.csv
daic_woz_text_raw/410_TRANSCRIPT.csv
daic_woz_text_raw/409_TRANSCRIPT.csv
daic_woz_text_raw/408_TRANSCRIPT.csv
daic_woz_text_raw/407_TRANSCRIPT.csv
daic_woz_text_raw/406_TRANSCRIPT.csv
daic_woz_text_raw/405_TRANSCRIPT.csv
daic_woz_text_raw/404_TRANSCRIPT.csv
daic_woz_text_raw/403_TRANSCRIPT.csv
daic_woz_text_raw/402_TRANSCRIPT.csv
daic_woz_text_raw/401_TRANSCRIPT.csv
daic_woz_text_raw/400_TRANSCRIPT.csv
daic_woz_text_raw/399_TRANSCRIPT.csv
daic_woz_text_raw/397_TRANSCRIPT.csv
daic_woz_text_raw/396_TRANSCRIPT.csv
daic_woz_text_raw/395_TRANSCRIPT.csv
daic_woz_text_raw/393_TRANSCRIPT.csv
daic_woz_text_raw/392_TRANSCRIPT.csv
daic_woz_text_raw/391_TRANSCRIPT.csv
daic_woz_text_raw/390_TRANSCRIPT.csv
daic_woz_text_raw/389_TRANSCRIPT.csv
daic_woz_text_raw/388_TRANSCRIPT.csv
daic_woz_text_raw/387_TRANSCRIPT.csv
daic_woz_text_raw/386_TRANSCRIPT.csv
daic_woz_text_raw/385_TRANSCRIPT.csv
daic_woz_text_raw/384_TRANSCRIPT.csv
daic_woz_text_raw/383_TRANSCRIPT.csv
daic_woz_text_raw/382_TRANSCRIPT.csv
daic_woz_text_raw/381_TRANSCRIPT.csv
daic_woz_text_raw/380_TRANSCRIPT.csv
daic_woz_text_raw/379_TRANSCRIPT.csv
daic_woz_text_raw/378_TRANSCRIPT.csv
daic_woz_text_raw/377_TRANSCRIPT.csv
daic_woz_text_raw/376_TRANSCRIPT.csv
daic_woz_text_raw/375_TRANSCRIPT.csv
daic_woz_text_raw/374_TRANSCRIPT.csv
daic_woz_text_raw/373_TRANSCRIPT.csv
daic_woz_text_raw/372_TRANSCRIPT.csv
daic_woz_text_raw/371_TRANSCRIPT.csv
daic_woz_text_raw/370_TRANSCRIPT.csv
daic_woz_text_raw/369_TRANSCRIPT.csv
daic_woz_text_raw/368_TRANSCRIPT.csv
daic_woz_text_raw/367_TRANSCRIPT.csv
daic_woz_text_raw/366_TRANSCRIPT.csv
daic_woz_text_raw/365_TRANSCRIPT.csv
daic_woz_text_raw/364_TRANSCRIPT.csv
daic_woz_text_raw/363_TRANSCRIPT.csv
daic_woz_text_raw/362_TRANSCRIPT.csv
daic_woz_text_raw/361_TRANSCRIPT.csv
daic_woz_text_raw/360_TRANSCRIPT.csv
daic_woz_text_raw/359_TRANSCRIPT.csv
daic_woz_text_raw/358_TRANSCRIPT.csv
daic_woz_text_raw/357_TRANSCRIPT.csv
daic_woz_text_raw/356_TRANSCRIPT.csv
daic_woz_text_raw/355_TRANSCRIPT.csv
daic_woz_text_raw/354_TRANSCRIPT.csv
daic_woz_text_raw/353_TRANSCRIPT.csv
daic_woz_text_raw/352_TRANSCRIPT.csv
daic_woz_text_raw/351_TRANSCRIPT.csv
daic_woz_text_raw/350_TRANSCRIPT.csv
daic_woz_text_raw/349_TRANSCRIPT.csv
daic_woz_text_raw/348_TRANSCRIPT.csv
daic_woz_text_raw/347_TRANSCRIPT.csv
daic_woz_text_raw/346_TRANSCRIPT.csv
daic_woz_text_raw/345_TRANSCRIPT.csv
daic_woz_text_raw/344_TRANSCRIPT.csv
daic_woz_text_raw/343_TRANSCRIPT.csv
daic_woz_text_raw/341_TRANSCRIPT.csv
daic_woz_text_raw/340_TRANSCRIPT.csv
daic_woz_text_raw/339_TRANSCRIPT.csv
daic_woz_text_raw/338_TRANSCRIPT.csv
daic_woz_text_raw/337_TRANSCRIPT.csv
daic_woz_text_raw/336_TRANSCRIPT.csv
daic_woz_text_raw/335_TRANSCRIPT.csv
daic_woz_text_raw/334_TRANSCRIPT.csv
daic_woz_text_raw/333_TRANSCRIPT.csv
daic_woz_text_raw/332_TRANSCRIPT.csv
daic_woz_text_raw/331_TRANSCRIPT.csv
daic_woz_text_raw/330_TRANSCRIPT.csv
daic_woz_text_raw/329_TRANSCRIPT.csv
daic_woz_text_raw/328_TRANSCRIPT.csv
daic_woz_text_raw/327_TRANSCRIPT.csv
daic_woz_text_raw/326_TRANSCRIPT.csv
daic_woz_text_raw/325_TRANSCRIPT.csv
daic_woz_text_raw/324_TRANSCRIPT.csv
daic_woz_text_raw/323_TRANSCRIPT.csv
daic_woz_text_raw/322_TRANSCRIPT.csv
daic_woz_text_raw/321_TRANSCRIPT.csv
daic_woz_text_raw/320_TRANSCRIPT.csv
daic_woz_text_raw/319_TRANSCRIPT.csv
daic_woz_text_raw/318_TRANSCRIPT.csv
daic_woz_text_raw/317_TRANSCRIPT.csv
daic_woz_text_raw/316_TRANSCRIPT.csv
daic_woz_text_raw/315_TRANSCRIPT.csv
daic_woz_text_raw/314_TRANSCRIPT.csv
daic_woz_text_raw/313_TRANSCRIPT.csv
daic_woz_text_raw/312_TRANSCRIPT.csv
daic_woz_text_raw/311_TRANSCRIPT.csv
daic_woz_text_raw/310_TRANSCRIPT.csv
daic_woz_text_raw/309_TRANSCRIPT.csv
daic_woz_text_raw/308_TRANSCRIPT.csv
daic_woz_text_raw/307_TRANSCRIPT.csv
daic_woz_text_raw/306_TRANSCRIPT.csv
daic_woz_text_raw/305_TRANSCRIPT.csv
daic_woz_text_raw/304_TRANSCRIPT.csv
daic_woz_text_raw/303_TRANSCRIPT.csv
daic_woz_text_raw/302_TRANSCRIPT.csv
daic_woz_text_raw/301_TRANSCRIPT.csv
daic_woz_text_raw/300_TRANSCRIPT.csv
daic_woz_cleaned/300_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/301_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/302_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/303_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/304_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/305_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/306_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/307_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/308_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/309_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/310_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/311_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/312_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/313_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/314_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/315_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/316_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/317_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/318_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/319_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/320_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/321_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/322_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/323_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/324_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/325_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/326_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/327_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/328_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/329_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/330_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/331_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/332_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/333_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/334_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/335_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/336_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/337_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/338_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/339_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/340_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/341_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/343_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/344_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/345_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/346_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/347_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/348_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/349_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/350_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/351_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/352_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/353_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/354_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/355_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/356_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/357_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/358_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/359_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/360_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/361_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/362_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/363_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/364_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/365_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/366_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/367_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/368_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/369_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/370_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/371_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/372_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/373_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/374_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/375_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/376_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/377_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/378_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/379_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/380_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/381_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/382_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/383_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/384_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/385_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/386_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/387_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/388_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/389_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/390_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/391_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/392_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/393_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/395_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/396_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/397_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/399_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/400_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/401_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/402_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/403_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/404_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/405_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/406_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/407_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/408_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/409_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/410_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/411_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/412_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/413_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/414_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/415_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/416_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/417_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/418_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/419_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/420_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/421_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/422_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/423_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/424_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/425_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/426_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/427_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/428_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/429_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/430_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/431_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/432_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/433_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/434_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/435_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/436_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/437_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/438_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/439_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/440_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/441_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/442_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/443_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/444_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/445_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/446_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/447_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/448_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/449_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/450_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/451_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/452_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/453_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/454_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/455_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/456_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/457_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/458_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/459_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/461_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/462_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/463_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/464_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/465_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/466_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/467_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/468_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/469_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/470_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/471_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/472_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/473_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/474_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/475_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/476_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/477_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/478_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/479_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/480_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/481_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/482_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/483_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/484_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/485_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/486_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/487_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/488_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/489_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/490_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/491_TRANSCRIPT_cleaned.csv
daic_woz_cleaned/492_TRANSCRIPT_cleaned.csv
